[submodule "lede"]
	path = lede
	url = https://github.com/coolsnowwolf/lede.git
[submodule "theme/luce-theme-argon"]
	path = theme/luce-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
