[submodule "lede"]
	path = lede
	url = https://github.com/coolsnowwolf/lede.git
[submodule "theme/luci-theme-argon"]
	path = theme/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "plugins/luci-app-ssr-plus"]
	path = plugins/luci-app-ssr-plus
	url = https://github.com/maxlicheng/luci-app-ssr-plus.git
[submodule "plugins/luci-app-openclash"]
	path = plugins/luci-app-openclash
	url = https://github.com/vernesong/OpenClash.git
